# This will be passed to all mysql clients
[client]
port=3306


# Here is entries for some specific programs
# The following values assume you have at least 32M ram
# The MySQL server
[mysqld]
port=3306
skip-locking
set-variable = key_buffer=16M
set-variable = lower_case_table_names=0
set-variable = max_allowed_packet=1M
set-variable = thread_stack=128K
set-variable = flush_time=1800
set-variable = default-character-set=cp1251
basedir = c:/ms/