[client]
port=3306

[mysqld]
port=3306
skip-locking
set-variable	= key_buffer=128K
set-variable	= max_allowed_packet=2M
set-variable	= thread_stack=128K
set-variable	= table_cache=4
set-variable	= sort_buffer=128K
set-variable	= net_buffer_length=4K
server-id	= 1
set-variable 	= default-character-set=latin1
basedir = c:/ms/
